<div class="card-deck mt-5">
  <div class="card m-3">
    <div class="mt-4 p-3 text-center">
      <h1><i class="fa fa-8x fa-warning"></i></h1>
      <h2><%= t('views.static_pages.account_error.title') %></h2>
    </div>
    <div class="card-body">
      <%= t('views.static_pages.account_error.description') %>
    </div>
  </div>
  <div class="card m-3">
    <div class="mt-4 p-3 text-center">
      <h1><i class="fa fa-support"></i></h1>
      <h2><%= t('views.setup.support_title') %></h2>
    </div>
    <div class="card-body">
      <%= t('views.setup.support_content_html') %>
    </div>
    <div class="bg-primary text-light card-body">
      <div class=""><i class="fa fa-envelope"></i> info@fahrzeit.ch</div>
      <div class=""><i class="fa fa-phone"></i> +41 44 586 21 26</div>
      <div class=""><i class="fa fa-map"></i> Schulhausstrasse 8, 8832 Wilen bei Wollerau</div>
    </div>
  </div>
</div>
