<div class="row">
  <div class="col-12">
    <div class="">
      <p><%= t 'views.setup.instructions' %></p>
      <%= link_to t('views.setup.create_company'), new_company_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>