<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1><%= t('.title', name: current_user.name) %></h1>
      <p class="lead"><%= t('.wellcome') %></p>
      <%= link_to t('.start'), root_path, class: 'btn btn-primary btn-lg' %>
      <% unless current_user.companies.any? %>
        <%= link_to t('views.setup.create_company'), new_company_path, class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
