<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <%= render 'navigation/company_edit_nav' %>
    </div>

    <div class="card-body">
      <h4 class="card-title"><%= t 'views.companies.drivers.title' %></h4>
    </div>
    <ul class="list-group list-group-flush">
      <%= render @drivers %>
      <li class="list-group-item" id="company-member-form-container" >
        <%= render 'form' %>
      </li>
    </ul>
  </div>
</div>
