<div class="row bg-white pt-3">
  <div class="col-sm-6">
    <h1><%= t 'views.companies.drivers.title' %></h1>
  </div>
</div>
<div class="row toolbar border-top bg-light p-2 d-print-none">
  <div class="col">
    <%= render 'form' %>
  </div>
</div>
<div class="card mt-3">
  <ul class="list-group list-group-flush">
    <%= render @drivers %>
  </ul>
</div>