<div class="row bg-white pt-3">
  <div class="col-sm-6">
    <h1><%= t 'views.companies.activities.title' %></h1>
  </div>
</div>
<div class="row toolbar border-top bg-light p-2 d-print-none">
  <div class="col">
  </div>
  <div class="col">
    <%= link_to t('views.companies.activities.new'), new_company_activity_path(current_company), class: 'btn btn-primary float-right' %>
  </div>
</div>
<div class="card mt-3">
  <ul class="list-group list-group-flush">
    <%= render @activities %>
  </ul>
</div>
