<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="/"><%= image_tag 'logo.png' %> FAHRZEIT <small class="text-secondary"><%= Rails.env.stage? ? 'TEST' : 'Beta' %></small></a>