<div class="nested-fields">
  <%= f.hidden_field :content, id: 'infoContent' %>
  <div id="editor"></div>
  <%= link_to_remove_association "Zusatz-Info entfernen", f, class: "btn btn-danger" %>
</div>