 <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= report.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= t 'activerecord.attributes.dynamic_reports/report_template.access_scope.0' %></h6>
    <p class="card-text">
      <%= report.summary %>
    </p>
    <a href="#" class="card-link"><%= report_link report %></a>
  </div>
</div>