<% if current_user.owens_company %>
<li class="nav-item">
  <%= link_to edit_company_path(current_company), class: 'nav-link' do %>
    <i class="fa fa-cog"></i> <%= t 'navbar.main.company_settings' %>
  <% end %>
</li>
<% else %>
  <li class="nav-item bg-secondary">
    <%= link_to new_company_path, class: 'nav-link' do %>
      <%= t 'navbar.main.new_company' %>
    <% end %>
  </li>
<% end %>