<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title"><%= t 'views.companies.new.title' %></h4>
    </div>

    <div class="card-body">
      <%= render 'new_form' %>
    </div>
  </div>
</div>
