<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <%= render 'shared/company_edit_nav' %>
    </div>

    <div class="card-body">
      <h4 class="card-title"><%= t 'views.companies.show.title' %></h4>

    </div>
  </div>
</div>
