<li class="list-group-item d-flex flex-row align-items-center">
  <div class="p-2">
    <stong><%= driving_route.name %></stong>
  </div>
  <div class="p-2 ml-2">
  </div>
  <%= item_tools enabled: (policy(driving_route).edit?) do %>
    <%= edit_button([current_company, driving_route]) %>
    <%= delete_button([current_company, driving_route])%>
  <% end %>
</li>