// Cosmo 4.0.0
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2780E3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ef6a69 !default;
$orange:  #f0ad4e !default;
$yellow:  #FF7518 !default;
$green:   #3FB618 !default;
$green-light: #bcffc5 !default;
$teal:    #20c997 !default;
$cyan:    #9954BB !default;
$sienna: #8A4117 !default;
$rust: #C36241 !default;
$mocha:  #C36241 !default;
$blue-dark: #214B63 !default;


$primary:       $blue !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $blue-dark !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          #353c40 !default;

$primary-font	: 'Lato', sans-serif;

/*--------------------------- Color variations ----------------------*/

//$secondary-color	: #00A383;
//$primary-color: #ff7319;

$primary	: #00AEFF;
$secondary: #ff7319;
$title-color	: #076510;
$text-color		: #5f5f5f;

$white			: #fff;
$black			: #000;


$navbar-brand-height: 5rem;

$border-radius:               0;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;


$border-width: 1px;

// Options

$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 460px,
  // Medium screen / tablet
        md: 768px,
  // Large screen / desktop
        lg: 992px,
  // Extra large screen / wide desktop
        xl: 1200px
);

$container-max-widths: (
        sm: 390px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

$enable-rounded: false !default;

// Body

$body-color:    $gray-800 !default;
$body-bg:       #e4e5e6 !default;

// Fonts

$font-family-sans-serif: "Lato", "Source Sans Pro", Calibri, Candara, Arial, sans-serif !default;

$font-size-base: 0.9375rem !default;
$font-weight-base: 300 !default;

$headings-font-weight:   300 !default;


// Navbar

$navbar-dark-hover-color:           rgba($white,1) !default;

$navbar-light-hover-color:          rgba($black,.9) !default;

// Alerts

$alert-border-width:                0 !default;

// Progress bars

$progress-height:               8px !default;

// tabs:
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $white !default;

// Cards
$card-header-bg:  #f0f3f5 !default;
$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-bg:                           $white !default;

$card-img-overlay-padding:          1.25rem !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y !default;

$btn-font-weight: 300