/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//    Font Family
//
$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

//$secondary-color	: #00A383;
//$primary-color: #ff7319;

$primary	: #00AEFF;
$secondary: #ff7319;
$title-color	: #076510;
$text-color		: #5f5f5f;

$white			: #fff;
$black			: #000;


$navbar-brand-height: 5rem;

$border-radius:               0;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;

//$theme-colors: (
//        "primary": $primary-color,
//        "secondary": $secondary-color,
//        "danger": #ff4136,
//        "green-light": $green-light
//);

@import "variables";
@import "bootstrap";
@import "simple_calendar";
@import "devise_bootstrap_views";
@import "toastr.min";
@import "font-awesome";
@import "standby_dates";

$colors: map-merge((
        'green-light': $green-light
), $colors);

.bg-image-plow {
  background-size: cover;
}

.devise-bs {
  margin-top: 50px;
}

.navbar-brand > img {
  height: 30px;
}

.round.round-info {
  background: $info;
}
.round-lg {
  line-height: 65px;
  width: 60px;
  height: 60px;
  font-size: 30px;
}
.round {
  line-height: 48px;
  color: #ffffff;
  width: 45px;
  height: 45px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 100%;
  background: #1e88e5;
}

@each $color-name, $color in $colors {
  .bg-#{$color-name} {
    background-color: $color;
  }
}