/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


//$theme-colors: (
//        "primary": $primary-color,
//        "secondary": $secondary-color,
//        "danger": #ff4136,
//        "green-light": $green-light
//);

@import "variables";
@import "bootstrap";
@import "simple_calendar";
@import "devise_bootstrap_views";
@import "toastr.min";
@import "font-awesome";
@import "standby_dates";
@import "drives";

$colors: map-merge((
        'green-light': $green-light,
        'blue-dark': $blue-dark
), $colors);

.bg-image-fullscreen {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: #b5b6d447;
  font-family: Lato Light, sans-serif;
}

.devise-bs {
  margin-top: 50px;
}

.navbar-brand > img {
  height: 30px;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.round.round-info {
  background: $info;
}
.round-lg {
  line-height: 65px;
  width: 60px;
  height: 60px;
  font-size: 30px;
}
.round {
  line-height: 48px;
  color: #ffffff;
  width: 45px;
  height: 45px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 100%;
  background: #1e88e5;
}

@each $color-name, $color in $colors {
  .bg-#{$color-name} {
    background-color: $color;
  }
}

.table td > .btn {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}

.card-header {
  //padding: 0.25rem 1.25rem;
}

.card-header-tabs {
  //margin-bottom: -0.25rem;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
  margin-left: -250px;
  visibility: hidden;

  &.show {
    margin-left: 0;
    tab-index: 2;
    visibility: inherit;
  }

  .nav-section {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #5a5e61;
  }

  .nav-link {
    padding: 0.75rem 1rem;
    i {
      margin-right: 5px;
    }
  }
}

.bg-dark {
  .nav-item {
    a {
      &:hover {
        color: $white;
        background: darken($dark, 2)
      }
      color: $light;
    }
  }
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: calc(100vh - 55px);
  transition: all 0.3s;
}

/* ---------------------------------------------------
    Reduced Padding on SM devices
----------------------------------------------------- */

@include media-breakpoint-down(xs) {
  .card-body {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row {
    margin-right: -5px;
    margin-left: -5px;
  }
}