// Place all the styles related to the Drives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drive-rate-type-1-bg {
  border-left: 5px solid $warning;
}

.drive-rate-type-1 {
  color: $warning;
}

.new-label {
  position: relative;
  top: -5px;
  left: -5px;
  width: 0;
}