// Place all the styles related to the Drives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drive-rate-type-1-bg {
  border-left: 5px solid $warning;
}

.new-label {
  position: relative;
  top: -15px;
  left: -10px;
}