// Place all the styles related to the standby_dates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar .day {
  height: 120px;
}

.simple-calendar .prev-month {
  background-color: $light;
}

.simple-calendar .with-week-nr td {
  width: 13%;
}

.simple-calendar th.week-nr {
  border-right: 2px $primary solid;
}

.simple-calendar td.week-nr {
  width: 10%;
  background-color: $light;
  border-right: 2px $primary solid;
}

.calendar-title {
  display: inline-block;
  width: 7rem;
  text-align: center;
}

.calendar-heading {
  border: 1px solid #ddd;
  border-bottom: none;
}