<div class="row justify-content-md-center">
  <div class="mt-5 col-md-4">
    <div class="card m-3">
      <div class="mt-4 p-3 text-center">
        <h1 class="text-danger"><i class="fa fa-8x fa-times-circle-o"></i></h1>
        <h2><%= t('views.driver_applications.review_not_allowed') %></h2>
      </div>
      <div class="card-body">
        <p><%= t'views.driver_applications.review_not_allowed_message' %></p>
      </div>
    </div>
  </div>
</div>
