<li class="list-group-item d-flex flex-row align-items-center" id="company-member-<%= customer.id %>">
  <div class="p-2"><%= customer.name %></div>
  <div class="ml-auto p-2">
    <%= link_to edit_company_customer_path(company_id: current_company.id, id: customer), class: 'text-muted', title: t('views.companies.customers.edit') do %>
      <i class="fa fa-edit"></i>
    <% end %>
  </div>
  <div>
    <%= link_to company_customer_path(company_id: current_company.id, id: customer), method: :delete, data: { confirm: t('confirm.company.delete_customer') }, remote: true, class: 'text-muted' do %>
      <i class="fa fa-trash"></i>
  <% end %>
  </div>
</li>