<div class="card mt-3">
  <div class="card-header">
    <%= render 'navigation/company_edit_nav' %>
  </div>

  <div class="card-body">
    <h4 class="card-title"><%= t 'views.companies.customers.title' %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-light" id="company-member-form-container" >
      <%= link_to t('views.companies.customers.new'), new_company_customer_path(current_company), class: 'btn btn-primary' %>
    </li>
    <%= render @customers %>
  </ul>
</div>
